# Byte-compiled / optimized / DLL support files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions / shared libraries
*.so
*.dylib
*.dll

# Except libopus.so which is part of the custom cog
!**/libopus.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# mypy / pyre / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~
